@mixin transition-fade($name) {
  .#{$name}-enter-active,
  .#{$name}-leave-active {
    transition: opacity 0.3s ease;
  }
  .#{$name}-enter-from,
  .#{$name}-leave-to {
    opacity: 0;
  }
}

@mixin transition-fade-scale($name, $panel-class) {
  @include transition-fade($name);
  .#{$name}-enter-from #{$panel-class} {
    transform: scale(0.95) translateY(-10px);
    opacity: 0;
  }
  .#{$name}-leave-to #{$panel-class} {
    transform: scale(0.95) translateY(-10px);
    opacity: 0;
  }
}

@mixin transition-fade-slideY($name) {
  @include transition-fade($name);
  .#{$name}-enter-from {
    transform: translateY(-12px);
  }
  .#{$name}-leave-to {
    transform: translateY(-12px);
  }
}

@mixin transition-fade-slideX($name, $left-class, $right-class) {
  .#{$name}-enter-active,
  .#{$name}-leave-active {
    transition: opacity 0.3s ease;
  }
  .#{$name}-enter-from,
  .#{$name}-leave-to {
    opacity: 0;
  }
  .#{$name}-enter-from #{$left-class} {
    transform: translateX(-30px);
    opacity: 0;
  }
  .#{$name}-enter-from #{$right-class} {
    transform: translateX(30px);
    opacity: 0;
  }
  .#{$name}-leave-to #{$left-class} {
    transform: translateX(-30px);
    opacity: 0;
  }
  .#{$name}-leave-to #{$right-class} {
    transform: translateX(30px);
    opacity: 0;
  }
}
